a:hover {
    text-decoration: none;
}

a{
    text-decoration: none;
}

div {
    /* border: 1pt black solid; */
}

.overarching{
    position: relative;
    /* background-color: yellow; */
}

.container{
    background-color: #00d1b2;
    padding: 10px;
    border-radius: 5px;
}

.container:hover{
    background-color: #04bda1;
    cursor: pointer;
}

.youtube{
    /* background-color: yellow; */
    position: absolute;
    bottom: 0px;
    right: 10px;
    /* margin-bottom: 20px; */
}

.youtube:hover{
    background-color: #e9c740
}